[submodule "deps/src/gopkg.in/logex.v1"]
	path = deps/src/gopkg.in/logex.v1
	url = https://github.com/chzyer/logex
[submodule "deps/src/github.com/chzyer/flagx"]
	path = deps/src/github.com/chzyer/flagx
	url = https://github.com/chzyer/flagx
[submodule "deps/src/github.com/chzyer/gofsmq"]
	path = deps/src/github.com/chzyer/gofsmq
	url = https://github.com/chzyer/gofsmq
[submodule "deps/src/github.com/klauspost/crc32"]
	path = deps/src/github.com/klauspost/crc32
	url = https://github.com/klauspost/crc32
[submodule "wiki"]
	path = wiki
	url = https://github.com/chzyer/fsmq.wiki.git
